<div class="row">
  <div class="col-12 pt-2 pb-2">
    <strong class="mr-3">Question:</strong>
    <span>
      {{ question }}
    </span>
  </div>
  <hr class="col-12 h-5 bg-dark">
  <div class="col-12 mt-3 mb-3">
    <ul class="list-unstyled">
      <li class="m-3"
          *ngFor="let answer of answers">
        <div id="{{ answer.answerId }}"
             class="{{ baseClass }}"
             (click)="selectAnswer($event)">
          {{ answer.answerText }}
        </div>
      </li>
    </ul>
  </div>
  <hr class="col-12 h-5 bg-dark">
  <div class="col-12 pt-4">
    <button class="col-sm-4 mr-md-3 mb-3 p-2">Am I Right</button>
    <button class="col-sm-4 ml-md-3 mb-3 p-2">Next Question</button>
  </div>
</div>