<div class="row">
  <div class="col-sm-4 pt-1 pb-2">
    <strong class="mr-3">Category:</strong>
    <select class="dropdown">
      <option>Any</option>
      <option>Cat1</option>
      <option>Cat2</option>
      <option>Cat3</option>
      <option>Cat4</option>
    </select>
  </div>
  <div class="col-sm-4 pt-2 pb-2">
    <strong class="mr-3">Difficulty:</strong>
    <select class="dropdown">
      <option>Any</option>
      <option>Easy</option>
      <option>Medium</option>
      <option>Hard</option>
    </select>
  </div>
  <div class="col-sm-4 pt-2 pb-4">
    <strong class="mr-3">Type:</strong>
    <select>
      <option>Any</option>
      <option>Multiple Choice</option>
      <option>True/False</option>
    </select>
  </div>
</div>